########
# WREN
########

server {
	listen   80; 

	server_name wren.soupmode.com;

        autoindex on;

        location / {
            root /home/wren/Wren/root;
            index index.html;
            try_files $uri $uri/ $uri.html =404;
        }

        location ~ ^/(css/|javascript/|images) {
            root /home/wren/Wren/root;
            access_log off;
            expires max;
        }

        location /api/v1 {
	     root /home/wren/Wren/perl;
             index wrenapi.pl;
             rewrite  ^/(.*)$ /wrenapi.pl?query=$1 break;
             fastcgi_pass  127.0.0.1:8999;
             fastcgi_index wrenapi.pl;
             fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
             include fastcgi_params;
        }

        location /wren {
	     root /home/wren/Wren/perl;
             index wren.pl;
             rewrite  ^/(.*)$ /wren.pl?query=$1 break;
             fastcgi_pass  127.0.0.1:8999;
             fastcgi_index wren.pl;
             fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
             include fastcgi_params;
        }

}


