    <meta charset="UTF-8" /> 
    <meta name="generator"             content="<!-- tmpl_var name="app_name" -->" />
    <meta name="author"                content="<!-- tmpl_var name="author_name" -->" />
    <meta name="description"           content="<!-- tmpl_var name="site_description" -->" />
    <meta name=viewport                content="width=device-width, initial-scale=1">
    <meta property="og:site_name"      content="<!-- tmpl_var name="site_name" -->" />
    <meta property="og:title"          content="<!-- tmpl_var name="title" -->" />
    <meta property="og:description"    content="<!-- tmpl_var name="page_description" -->" />
    <meta property="og:url"            content="<!-- tmpl_var name="url" -->" />
    <meta property="og:type"           content="<!-- tmpl_var name="post_type" -->" /> 
    <meta property="og:image"          content="<!-- tmpl_var name="home_page" -->/images/barney60.png" />
    <link rel="shortcut icon"          type="image/ico" href="/images/favicon.ico" />
    <link rel="apple-touch-icon"       href="/images/cawr-60x60.png" />
    <link rel="alternate"              type="application/rss+xml" href="<!-- tmpl_var name="home_page" -->/rss.xml" />
    <link rel="alternate"              type="text/html" href="<!-- tmpl_var name="home_page" -->/mft.html" /> <!-- microformatted list of recent posts -->
    <link rel="webmention"             href="<!-- tmpl_var name="home_page" -->/api/v1/webmentions" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" rel="authorization_endpoint" />
    <link rel="token_endpoint"         href="https://tokens.indieauth.com/token" rel="token_endpoint" />
    <link rel="micropub"               href="<!-- tmpl_var name="home_page" -->/api/v1/micropub" rel="micropub" />
    <link rel="me"                     href="https://github.com/perchwire" />
    <link rel="me"                     href="https://twitter.com/pondhawk" />
