<!-- tmpl_include name="header.tmpl"  -->
<link rel="stylesheet" type="text/css" href="http://wren.soupmode.com/css/form.css"  /> 
<article>
<p>
<form action="/wren/dologin" method="post">
<input type="text" id="email" name="email" maxlength="50"/>
<br />
<input class="submitbutton" type="submit" value="Login" />
</form>
</p>
</article>
<!-- tmpl_include name="footer.tmpl" -->
